prefer-no-csd
hotkey-overlay {
  skip-at-startup
  hide-not-bound
}
xwayland-satellite {
  on
  path "xwayland-satellite"
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d-%H-%M-%S_niri.png"

///////////////////////////////
// StartUp
spawn-at-startup "gammastep" "-P" "-O" "5500" "-b" "0.8:0.65"
spawn-at-startup "dunst"
spawn-at-startup "awww-daemon"

// Keyboard 
spawn-at-startup "mudras" "run"

// Bars
spawn-sh-at-startup "waybar -c ~/.config/waybar/main.jsonc"
spawn-sh-at-startup "waybar -c ~/.config/waybar/metrics.jsonc"
spawn-sh-at-startup "waybar -c ~/.config/waybar/workspaces.jsonc"

// Restore session
// spawn-sh-at-startup "nirinit"

// Deprecated
// spawn-at-startup "wlr-which-key"

// Inputs
input {
  keyboard {
    xkb {
      layout "us"
    }
    numlock
  }
  touchpad {
    tap
  }
}
// Outputs
include "./outputs.kdl"


layout {
  always-center-single-column
  empty-workspace-above-first
  // background-color "#00000000"
  background-color "transparent"
  /* 
  * Not released
  */
  // warp-mouse-to-focus

  // Col/Row
  default-column-width {
    proportion 0.5
  }
  preset-column-widths {
    proportion 0.3
    proportion 0.5
    proportion 0.7
    proportion 1.0
  }
  preset-window-heights {
    proportion 0.5
    proportion 1.0
  }

  // Styling
  gaps 20
  border {
    on
  }
  focus-ring {
    width 0.0
  }
  shadow {
    softness 30
    spread 10
    offset x=0 y=5
    draw-behind-window true
    color "#000000ff"
  }
}


animations {
  workspace-switch {
    spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
  }
  window-open {
    duration-ms 100
  }
  window-close {
    duration-ms 100
  }
  window-movement {
    duration-ms 100
  }
}
// Overview
overview {
    zoom 0.6
    workspace-shadow {
      off
    }
}
// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

// Rules
window-rule {
  draw-border-with-background false
  geometry-corner-radius 4.0
  clip-to-geometry true
  opacity 0.96
  background-effect {
      blur true
  }
}
window-rule {
  match is-active=false
  match is-focused=false
  opacity 0.82
}
window-rule {
  match is-floating=true
  background-effect {
      blur true
      xray false
  }
}

// Block out password managers from screencasts.
window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  block-out-from "screencast"
}
window-rule {
  match app-id=r#"^com\.obsproject\.Studio$"#
  open-maximized false
  open-fullscreen false
}


// Window default sizes per application
window-rule {
  match app-id=r#"kitty"#
}
window-rule {
  match app-id=r#"neovide"#
  // default-column-display "tabbed"
  // open-maximized true
  // open-focused true
}
window-rule {
  match app-id=r#"kitty"# title=r#"^nvim ~"# is-focused=true
}
window-rule {
  match app-id=r#"firefox"# title=r#"Youtube"# is-floating=true
  default-column-width { proportion 0.3; }
  default-window-height { proportion 0.66; }
}

include optional=true "./submap.kdl"
